<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navigation.ejs') %>


    <%- include('partials/footer.ejs') %>

    <%- include('partials/scripts.ejs') %> 
    <%- include('partials/alerts.ejs') %>  
     
</body>
</html>