<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi perfil</title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/navigation.ejs', { url: ""}) %>

    <form action="/usuarios/edit" method="POST">
      
      <h2>Perfil</h2>

      <input
        id="ipId"
        name="id"
        type="hidden"
        required
        value="<%= user.id %>"
      />

      <label for="ipNombre">Nombre(s)</label>
      <input
        id="ipNombre"
        name="nombre"
        type="text"
        required
        value="<%= user.nombre %>"
      />

      <label for="ipApellido">Apellidos</label>
      <input
        id="ipApellido"
        name="apellido"
        type="text"
        required
        value="<%= user.apellido %>"
      />

      <label for="ipApellido">Correo</label>
      <input
        id="email"
        name="email"
        type="text"
        required
        value="<%= user.correo %>"
      />

      <label for="ipPwd">Contraseña</label>
      <input
        id="ipPwd"
        name="password"
        type="text"
        required
        value="<%= user.contrasena %>"
      />

      <input type="submit" value="Enviar" class="btn btn-primary" />
    </form>

    <%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>
    <%- include('partials/alerts.ejs') %>
  </body>

</html>
